* {
  font-family: Arial, Helvetica, sans-serif;
}

* h1 {
  margin: 10px;
}

* h2 {
  display: inline-block;
}

body {
  width: 100vw;
}

li {
  marker: none;
}

header {
  height: 20vh;
}

header .logo {
  text-decoration: none;
  color: #a80024 !important;
}

.nav {
  padding: 10px;
}

nav .navbar-brand h1 {
  margin-left: 20px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

nav .navbar-brand h1:hover {
  font-size: 3rem;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .link {
  position: relative;
}

nav .link ul {
  position: relative;
  left: 10px;
}

nav .link ul li {
  padding-left: 20px;
}

nav .position {
  position: absolute;
  right: 3%;
  width: 30vw;
}

nav .media {
  margin-right: 7rem;
  width: 3rem;
}

@media screen and (max-width: 450px) {
  nav .media .btn {
    width: 30vw;
    height: 50px;
    margin: 0 10px 0 0;
    padding-top: 0;
    position: relative;
    left: -50px;
  }
  nav .media .btn a {
    padding-top: 4px;
  }
}

@media screen and (min-width: 767px) {
  nav .media {
    display: none;
  }
}

.head-line {
  background: #f3f3f3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1px;
  margin: 1px;
}

.head-line .symbol h1 {
  padding-left: 5%;
}

.head-line .search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.head-line .search-bar h2 {
  margin: 1px 5px;
}

.head-line .nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.landing {
  margin-bottom: 6rem;
  height: 50vh;
}

.landing h1 {
  width: 30vw;
  margin: 2rem;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px #A30D2D;
  text-align: center;
}

.landing h1:hover {
  font-size: 3rem;
  width: 500px;
  -webkit-transition: 1s;
  transition: 1s;
  border-bottom: solid 3px #A30D2D;
}

@media screen and (max-width: 450px) {
  .landing h1 {
    width: 60vw;
  }
}

.landing h2 {
  width: 40vw;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .landing h2 {
    width: 80vw;
  }
}

.landing h3 {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.landing h3:hover {
  font-size: 3rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.landing .landing-width {
  width: 40vw;
}

@media screen and (max-width: 450px) {
  .landing .landing-width {
    width: 80vw;
  }
}

.landing .img {
  width: 100vh;
}

.landing .img img {
  width: 100%;
}

.landing .discover {
  margin: auto;
  display: block;
  width: 40vw;
  margin-bottom: 4rem;
}

@media screen and (max-width: 360px) {
  .landing .discover {
    width: 80vw;
    margin-right: 0;
  }
}

.landing .discover h2 {
  padding-right: 10%;
  text-align: center;
}

.landing .agency {
  width: 95vw;
  margin: 20px 0 20px 20px;
  padding: 20px;
}

@media screen and (max-width: 450px) {
  .landing .agency {
    margin: 10px;
  }
}

.landing .agency h2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .agency .container .row .col-sm {
  width: 210px;
  height: 220px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-right: transparent 10px;
  padding: 30px;
  background: #fcf817;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.landing .agency .container .row .col-sm h3 {
  padding: 10px;
}

.landing .agency .container .row .col-sm p {
  padding: 10px;
  border-top: 1px solid #000;
}

.question {
  padding: 2rem;
}

.question h1 {
  width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .question h1 {
    width: 60vw;
  }
}

.question h5 {
  margin: 2rem 0 2rem 0rem;
}

@media screen and (max-width: 450px) {
  .question h5 {
    text-align: center;
  }
}

.question .achievements .col-item {
  width: 15rem;
  height: 15rem;
  padding: 40px;
  margin: 1rem;
  border-radius: 50%;
  border: 10px solid #fcf817;
}

.question .achievements .col-item .text {
  text-align: center;
}

.dan-works {
  height: 125vh;
  margin: 50px;
}

@media screen and (max-width: 450px) {
  .dan-works {
    height: 210vh;
    margin: 10px;
  }
}

.dan-works h1 {
  width: 30vw;
  text-align: center;
}

.dan-works h4 {
  display: inline-block;
}

.dan-works p {
  display: inline-block;
  margin-left: 10px;
}

.dan-works .achievements {
  margin: 10px;
  padding: 10px;
}

.dan-works .upper {
  margin: 5rem;
}

.dan-works .upper .row {
  width: 100%;
}

.dan-works .upper .row .col {
  margin: 0 1rem 2rem 1rem;
  width: 300px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .dan-works .upper .row {
    width: 60vw;
    position: relative;
    left: -10%;
  }
}

.dan-works .mid {
  margin: 5rem;
}

.dan-works .mid .row {
  width: 100%;
}

.dan-works .mid .row .col {
  margin: 0 1rem 2rem 1rem;
  width: 300px;
  padding: 0.5rem;
  text-align: center;
}

.dan-works .mid .row .col .sizing {
  width: 300px;
}

@media screen and (max-width: 450px) {
  .dan-works .mid .row .col {
    width: 50vw;
  }
}

@media screen and (max-width: 450px) {
  .dan-works .mid .row {
    width: 60vw;
    position: relative;
    left: -10%;
  }
}

.dan-works .low {
  margin: 5rem;
}

.dan-works .low .row {
  width: 100%;
}

.dan-works .low .row .col {
  margin: 0 1rem 2rem 1rem;
  width: 300px;
  padding: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .dan-works .low .row .col {
    width: 50vw;
  }
}

@media screen and (max-width: 450px) {
  .dan-works .low .row {
    width: 60vw;
    position: relative;
    left: -10%;
  }
}

.work h2 {
  width: 50vw;
}

@media screen and (max-width: 450px) {
  .work h2 {
    width: 55vw;
    text-align: center;
    margin-right: 18px;
  }
  .work h3 {
    width: 55vw;
    text-align: center;
  }
  .work .fa-angle-double-down {
    width: 100%;
  }
}

.work .intro {
  width: 50vw;
}

.work .intro h2 {
  text-align: center;
}

.work .packs {
  width: 80vw;
  height: 800px;
}

.work .packs .col {
  height: 35vh;
  width: 8vw;
  padding: auto;
  margin: 25px;
  border-radius: 25%;
  -webkit-transition: 1s;
  transition: 1s;
}

.work .packs .col h3 {
  margin: auto;
  padding: 20px 0 10px 0;
  width: 20vw;
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 450px) {
  .work .packs .col h3 {
    width: 50vw;
  }
}

@media screen and (max-width: 450px) {
  .work .packs .col {
    width: 50vw;
  }
}

.work .packs .col .inner {
  margin: 30px 10px 10px 10px;
  height: 90vh;
  position: relative;
  display: none;
}

.work .packs .col .inner ul li {
  list-style: none;
  margin: 15px;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  .work .packs .col .inner ul {
    padding-left: 0;
  }
}

.work .packs .col .inner .button {
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
}

.work .packs .col .inner .button #pos-sm {
  position: relative;
  bottom: -150px;
}

.work .packs .col .inner .button #pos-md {
  position: relative;
  bottom: -100px;
}

.work .packs .col .inner .button #pos-bg {
  position: relative;
  bottom: -30px;
}

.work .packs .col:hover {
  height: 750px;
  border-radius: 0;
  -webkit-box-shadow: 10px 10px 5px #171B1F;
          box-shadow: 10px 10px 5px #171B1F;
}

.work .packs .col:hover .inner {
  display: block;
  height: 250px;
}

.work .packs .col:hover .inner .button {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.work .packs .btn {
  width: 20vw;
  font-weight: 700;
  font-size: 25px;
}

@media screen and (max-width: 450px) {
  .work .packs .btn {
    width: 55vw;
    margin-bottom: 20px;
    position: relative;
    bottom: 10px;
  }
}

.work .packs .fa-chevron-down {
  width: 65px;
  margin: 20px 0 30px 0;
  position: relative;
  left: 40%;
}

@media screen and (max-width: 450px) {
  .work .packs .fa-chevron-down {
    width: 30vw;
    position: relative;
    left: 25%;
  }
}

.introduction ul {
  list-style: none;
}

.introduction .intro-pos {
  width: 50vw;
  text-align: center;
}

.introduction .exp-div {
  width: 90vw;
  height: 50vh;
  margin: 1rem;
  padding: 2rem;
}

.introduction .exp-div .exp-inner {
  position: relative;
  padding: 2rem;
  width: 280px;
  height: 280px;
  border: solid #ffc107 2px;
  border-radius: 50px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.introduction .exp-div .exp-inner:hover {
  width: 350px;
  height: 380px;
  border: solid #ffc107 5px;
}

.introduction .exp-div .exp-inner:hover h5 {
  font-size: 25px;
  -webkit-transition: 1s;
  transition: 1s;
}

.introduction .exp-div .exp-inner:hover h3 {
  font-size: 35px;
  -webkit-transition: 1s;
  transition: 1s;
}

.introduction .exp-div .exp-inner:hover .animation-display {
  display: block;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.introduction .exp-div .exp-inner .animation-display {
  display: none;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

@media screen and (max-width: 450px) {
  .introduction .exp-div .exp-inner-rigth {
    position: relative;
    left: 0;
  }
}

.introduction .exp-div #exp-top-right {
  margin-left: 3rem;
  width: 700px !important;
  border-radius: 50px;
}

.introduction .exp-div #exp-bottom-left {
  margin-right: 3rem;
  width: 700px !important;
  border-radius: 50px;
}

footer {
  color: white;
}

footer label {
  margin-top: 10px;
}

footer a {
  color: white;
}

@media screen and (max-width: 450px) {
  footer button {
    width: 85vw;
  }
}
/*# sourceMappingURL=style.css.map */